/* 섹션 헤더 */
.exch-rtrn-section-header {
  width: 100%;
  background: #eaf1ff;
  padding: 12px 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  color: #111827;
  border-radius: 4px;
}


/* 부제목 */
.sub-title {
  display: block;
  margin-top: 20px;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}