:root {
  --intel-blue: #739FF2;
  --light-blue: #E5EEFF;
  --deep-text: #000000;
  --gray-text: #333333;
  --line: #D9E6F5;
  --white: #FFFFFF;
  --line-strong: #E2E4EA;
}

/* 제목 */
.suggestions-title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
   margin-top: 20px;
}

.suggestions-desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 28px;
}

/* 탭 */
.suggestions-tab-menu {
  display: flex;
  gap: 32px;
  border-bottom: 1px solid var(--line);
  margin-bottom: 32px;
}

.suggestions-tab-menu button {
  background: none;
  border: none;
  padding: 12px 0;
  font-size: 16px;
  cursor: pointer;
  color: #777;
  font-weight: 600;
  position: relative;
}

.suggestions-tab-menu .active {
  color: var(--intel-blue);
}

.suggestions-tab-menu .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background: var(--intel-blue);
  border-radius: 0px;
}

/* 카드 리스트 */
.suggestions-group-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.suggestions-card {
  display: flex;
  gap: 22px;
  padding: 10px;
  background: #fff;
  border-radius: 0px;
  border: 1px solid var(--line);
  transition: 0.2s;
}

.suggestions-card:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* 이미지 영역 */
.suggest-card-img {
  margin-top: 15px;
  margin-left: 15px;
  width: 140px;
  height: 140px;
  border-radius: 0px;
  background: #e3e3e3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #555;
}

/* 텍스트 영역 */
.card-info {
  margin-top: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  font-size: 16px;
  font-weight: 800;
  color: var(--intel-blue);
  margin-bottom: 4px;
}

.title {
  font-size: 18px;
  font-weight: 800;
  color: var(--deep-text);
  margin-bottom: 6px;
}

.desc {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
}

.votes {
  font-size: 14px;
  font-weight: 600;
}

/* 버튼 */
.card-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-detail {
  background: #fff;
  border: 1px solid var(--intel-blue);
  color: var(--intel-blue);
  border-radius: 0px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
}

.btn-buy {
  background: var(--intel-blue);
  color: #fff;
  border-radius: 0px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid var(--intel-blue);
}
