:root {
  --intel-blue: #739FF2;
  --light-blue: #E5EEFF;
  --deep-text: #000000;
  --gray-text: #333333;
  --line: #D9E6F5;
  --white: #FFFFFF;
  --line-strong: #E2E4EA;

  --font-small: 12px;
  --font-base: 16px;
  --font-title: 20px;
}

/********************************
 * 제목
 ********************************/
.profileindex-title {
  font-size: 20px;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profileindex-desc {
  font-size: 15px;
  color: #666;
  margin-bottom: 20px;
}

/********************************
 * 인증 박스
 ********************************/
.profileindex-verify-box {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 60px 40px;
  border-radius: 16px;
  border: 1px solid var(--line-strong);
  background: #FAFCFF;
  text-align: center;
}

.profileindex-verify-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #E5EEFF; /* 연한 블루 배경 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 24px auto;
}

.profileindex-verify-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
}

.profileindex-verify-subtext {
  font-size: 14px;
  color: #777;
  margin-bottom: 34px;
}

/********************************
 * 입력
 ********************************/
.profileindex-input-box {
  width: 360px;
  margin: 0 auto 30px auto;
}

.profileindex-input-box input {
  width: 100%;
  padding: 14px;
  font-size: 15px;
  border: 1px solid var(--line);
  border-radius: 8px;
  background: #fff;
  outline: none;
}

/********************************
 * 버튼
 ********************************/
.profileindex-btn-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.profileindex-btn {
  width: 140px;
  padding: 12px 0;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  transition: .2s;
  border: 1.5px solid var(--line-strong);
}

/* 취소 */
.profileindex-btn-cancel {
  background: #F7F7F7;
  color: #000;
  border: 1px solid #CCC;
}

.profileindex-btn-cancel:hover {
  background: #EFEFEF;
}

/* 확인 */
.profileindex-btn-blue {
  background: var(--intel-blue);
  color: #fff;
  border: 1px solid var(--intel-blue);
}

.profileindex-btn-blue:hover {
  opacity: .85;
}
