:root {
  --intel-blue: #739FF2;
  --light-blue: #E5EEFF;
  --deep-text: #000000;
  --gray-text: #333333;
  --line: #D9E6F5;
  --white: #FFFFFF;
  --line-strong: #E2E4EA;

  --font-small: 12px;
  --font-base: 16px;
  --font-title: 20px;
}

/********************************
 * Title
 ********************************/
.profileedit-title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.profileedit-page-title {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 800;
}

/********************************
 * Info Box
 ********************************/
.profileedit-info-box {
  background: #fff;
  border-radius: 14px;
  border: 1px solid var(--line-strong);
  padding: 40px 50px;
  width: 100%;
  max-width: 1100px;
}

/********************************
 * Form Group
 ********************************/
.profileedit-form-group {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}

.profileedit-form-group label {
  width: 160px;
  font-size: 15px;
  font-weight: 600;
  color: #222;
}

.profileedit-form-group input {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid var(--line);
  border-radius: 8px;
  font-size: 15px;
}

.profileedit-form-group input:focus {
  border-color: var(--intel-blue);
  outline: none;
}

.profileedit-form-group input[readonly] {
  background: #F5F7FA;
  color: #666;
}

/********************************
 * Button Group
 ********************************/
.profileedit-btn-wrap {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 30px;
}

.profileedit-btn-save {
  background: var(--intel-blue);
  border: 1px solid var(--intel-blue);
  color: #fff;
  padding: 11px 26px;
  font-size: 15px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}

.profileedit-btn-save:hover {
  opacity: 0.85;
}


 /* Select Box (성별) */
.profileedit-form-group select {
  flex: 1;
  padding: 12px 14px;
  border: 1px solid var(--line);
  border-radius: 8px;
  font-size: 15px;
  background: #fff;
  color: #000;
  appearance: none; 
  cursor: pointer;
}

.profileedit-form-group select:focus {
  border-color: var(--intel-blue);
  outline: none;
}

.profileedit-form-group select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='12' height='12' viewBox='0 0 20 20' fill='gray' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 7L10 12L15 7' stroke='gray' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 14px;
}

